			<div class="nav-btn">
				<p>Where are you depart from?</p>

					<div class="btn-group">
						<div class="dropdown">
						  <button class="dropbtn">USA</button>
						  <div class="dropdown-content">
						    <a href="/tags/new-york/">New York</a>
						    <a href="/tags/atlanta/">Atlanta</a>
						    <a href="/tags/boston/">Boston</a>
						    <a href="/tags/charlotte/">Charlotte</a>
						    <a href="/tags/chicago/">Chicago</a>
						    <a href="/tags/dallas/">Dallas</a>
						    <a href="/tags/denver/">Denver</a>
						    <a href="/tags/detroit/">Detroit</a>
						    <a href="/tags/houston/">Houston</a>
						    <a href="/tags/las-vegas/">Las Vegas</a>
						    <a href="/tags/los-angeles/">Los Angeles</a>
						    <a href="/tags/miami/">Miami</a>
						    <a href="/tags/orlando/">Orlando</a>
						    <a href="/tags/philadelphia/">Philadelphia</a>
						    <a href="/tags/phoenix/">Phoenix</a>
						    <a href="/tags/portland/">Portland</a>
						    <a href="/tags/salt-lake-city/">Salt Lake City</a>
						    <a href="/tags/san-diego/">San Diego</a>
						    <a href="/tags/san-francisco/">San Francisco</a>
						    <a href="/tags/washington/">Washington, D.C.</a>
						  </div>
						</div>

						<div class="dropdown">
						  <button class="dropbtn">Canada</button>
						  <div class="dropdown-content">
						    <a href="/tags/toronto/">Toronto</a>
						    <a href="/tags/vancouver/">Vancouver</a>
						    <a href="/tags/montreal/">Montreal</a>
						    <a href="/tags/calgary/">Calgary</a>
						    <a href="/tags/edmonton/">Edmonton</a>
						  </div>
						</div>

						<div class="dropdown">
						  <button class="dropbtn">Europe</button>
						  <div class="dropdown-content">
						    <a href="/tags/london/">London</a>
						    <a href="/tags/paris/">Paris</a>
						    <a href="/tags/amsterdam/">Amsterdam</a>
						    <a href="/tags/frankfurt/">Frankfurt</a>
						    <a href="/tags/istanbul/">Istanbul</a>
						    <a href="/tags/madrid/">Madrid</a>
						    <a href="/tags/barcelona/">Barcelona</a>
						    <a href="/tags/munich/">Munich</a>
						    <a href="/tags/rome/">Rome</a>
						    <a href="/tags/moscow/">Moscow</a>
						    <a href="/tags/dublin/">Dublin</a>
						    <a href="/tags/zurich/">Zürich</a>
						    <a href="/tags/copenhagen/">Copenhagen</a>
						    <a href="/tags/manchester/">Manchester</a>
						    <a href="/tags/oslo/">Oslo</a>
						    <a href="/tags/vienna/">Vienna</a>
						    <a href="/tags/milan/">Milan</a>
						    <a href="/tags/berlin/">Berlin</a>
						    <a href="/tags/athens/">Athens</a>
						    <a href="/tags/hamburg/">Hamburg</a>
						    <a href="/tags/petersburg/">Petersburg</a>
						  </div>
						</div>

					</div>
			</div>








