<!DOCTYPE html>
<html>
<head>
	  	<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>FlyingMode - Get Free Cheap Flights</title>
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>
<body>
	<div class="navigation">
		<div class="container">
			<div class="logo"><a href="index.html"><img src="assets/img/go.png"></a></div>

		<div class="pull-right">
			<ul class="menu">
				<li><a href="">Notifications</a></li>
				<li><a href="">About</a></li>
			</ul>
		</div>
		</div>
	</div>

	<div class="container">
		<div class="hero">
					<h1>flights departures from <br> New York</h1>
					<p class="lead">These fares will go up in the next 24 hours or so.
</p>
		
	
			</div>
		</div>
	</div>

	<div class="container">
		<div id="grid">


			<div class="card">
				<a href="single.html">
				<span class="normal-price">$269</span>
				<span class="promo-price">$200</span>

				<h2>New Orleans to Cancun, Mexico</h2>
				<div class="dates">
					<div>
						<span class="date-type">Arrive</span>
						<span class="date">17, Mar 2018</span>
					</div>
					<div>
						<span class="date-type">Return</span>
						<span class="date">25, Mar 2018</span>
					</div>
				</div>
				<div class="depart-letters">
					<span class="depart-from">NYC</span>	
						<img src="assets/img/flight-icon.svg" class="flight-icon">
					<span class="depart-to">JFK</span>
					<span class="trip-type">Round-trip</span>
				</div>
				</a>
			</div>

			<div class="card">
				<a href="">
				<span class="normal-price">$269</span>
				<span class="promo-price">$200</span>

				<h2>New Orleans to Cancun, Mexico</h2>
				<div class="dates">
					<div>
						<span class="date-type">Arrive</span>
						<span class="date">17, Mar 2018</span>
					</div>
					<div>
						<span class="date-type">Return</span>
						<span class="date">25, Mar 2018</span>
					</div>
				</div>
				<div class="depart-letters">
					<span class="depart-from">NYC</span>	
						<img src="assets/img/flight-icon.svg" class="flight-icon">
					<span class="depart-to">JFK</span>
					<span class="trip-type">Round-trip</span>
				</div>
				</a>
			</div>

						<div class="card">
				<a href="">
				<span class="normal-price">$269</span>
				<span class="promo-price">$200</span>

				<h2>New Orleans to Cancun, Mexico</h2>
				<div class="dates">
					<div>
						<span class="date-type">Arrive</span>
						<span class="date">17, Mar 2018</span>
					</div>
					<div>
						<span class="date-type">Return</span>
						<span class="date">25, Mar 2018</span>
					</div>
				</div>
				<div class="depart-letters">
					<span class="depart-from">NYC</span>	
						<img src="assets/img/flight-icon.svg" class="flight-icon">
					<span class="depart-to">JFK</span>
					<span class="trip-type">Round-trip</span>
				</div>
				</a>
			</div>

						<div class="card">
				<a href="">
				<span class="normal-price">$269</span>
				<span class="promo-price">$200</span>

				<h2>New Orleans to Cancun, Mexico</h2>
				<div class="dates">
					<div>
						<span class="date-type">Arrive</span>
						<span class="date">17, Mar 2018</span>
					</div>
					<div>
						<span class="date-type">Return</span>
						<span class="date">25, Mar 2018</span>
					</div>
				</div>
				<div class="depart-letters">
					<span class="depart-from">NYC</span>	
						<img src="assets/img/flight-icon.svg" class="flight-icon">
					<span class="depart-to">JFK</span>
					<span class="trip-type">Round-trip</span>
				</div>
				</a>
			</div>

						<div class="card">
				<a href="">
				<span class="normal-price">$269</span>
				<span class="promo-price">$200</span>

				<h2>New Orleans to Cancun, Mexico</h2>
				<div class="dates">
					<div>
						<span class="date-type">Arrive</span>
						<span class="date">17, Mar 2018</span>
					</div>
					<div>
						<span class="date-type">Return</span>
						<span class="date">25, Mar 2018</span>
					</div>
				</div>
				<div class="depart-letters">
					<span class="depart-from">NYC</span>	
						<img src="assets/img/flight-icon.svg" class="flight-icon">
					<span class="depart-to">JFK</span>
					<span class="trip-type">Round-trip</span>
				</div>
				</a>
			</div>


						<div class="card">
				<a href="">
				<span class="normal-price">$269</span>
				<span class="promo-price">$200</span>

				<h2>New Orleans to Cancun, Mexico</h2>
				<div class="dates">
					<div>
						<span class="date-type">Arrive</span>
						<span class="date">17, Mar 2018</span>
					</div>
					<div>
						<span class="date-type">Return</span>
						<span class="date">25, Mar 2018</span>
					</div>
				</div>
				<div class="depart-letters">
					<span class="depart-from">NYC</span>	
						<img src="assets/img/flight-icon.svg" class="flight-icon">
					<span class="depart-to">JFK</span>
					<span class="trip-type">Round-trip</span>
				</div>
				</a>
			</div>
	

						<div class="card">
				<a href="">
				<span class="normal-price">$269</span>
				<span class="promo-price">$200</span>

				<h2>New Orleans to Cancun, Mexico</h2>
				<div class="dates">
					<div>
						<span class="date-type">Arrive</span>
						<span class="date">17, Mar 2018</span>
					</div>
					<div>
						<span class="date-type">Return</span>
						<span class="date">25, Mar 2018</span>
					</div>
				</div>
				<div class="depart-letters">
					<span class="depart-from">NYC</span>	
						<img src="assets/img/flight-icon.svg" class="flight-icon">
					<span class="depart-to">JFK</span>
					<span class="trip-type">Round-trip</span>
				</div>
				</a>
			</div>
	
						<div class="card">
				<a href="">
				<span class="normal-price">$269</span>
				<span class="promo-price">$200</span>

				<h2>New Orleans to Cancun, Mexico</h2>
				<div class="dates">
					<div>
						<span class="date-type">Arrive</span>
						<span class="date">17, Mar 2018</span>
					</div>
					<div>
						<span class="date-type">Return</span>
						<span class="date">25, Mar 2018</span>
					</div>
				</div>
				<div class="depart-letters">
					<span class="depart-from">NYC</span>	
						<img src="assets/img/flight-icon.svg" class="flight-icon">
					<span class="depart-to">JFK</span>
					<span class="trip-type">Round-trip</span>
				</div>
				</a>
			</div>
	
						<div class="card">
				<a href="">
				<span class="normal-price">$269</span>
				<span class="promo-price">$200</span>

				<h2>New Orleans to Cancun, Mexico</h2>
				<div class="dates">
					<div>
						<span class="date-type">Arrive</span>
						<span class="date">17, Mar 2018</span>
					</div>
					<div>
						<span class="date-type">Return</span>
						<span class="date">25, Mar 2018</span>
					</div>
				</div>
				<div class="depart-letters">
					<span class="depart-from">NYC</span>	
						<img src="assets/img/flight-icon.svg" class="flight-icon">
					<span class="depart-to">JFK</span>
					<span class="trip-type">Round-trip</span>
				</div>
				</a>
			</div>
	
						<div class="card">
				<a href="">
				<span class="normal-price">$269</span>
				<span class="promo-price">$200</span>

				<h2>New Orleans to Cancun, Mexico</h2>
				<div class="dates">
					<div>
						<span class="date-type">Arrive</span>
						<span class="date">17, Mar 2018</span>
					</div>
					<div>
						<span class="date-type">Return</span>
						<span class="date">25, Mar 2018</span>
					</div>
				</div>
				<div class="depart-letters">
					<span class="depart-from">NYC</span>	
						<img src="assets/img/flight-icon.svg" class="flight-icon">
					<span class="depart-to">JFK</span>
					<span class="trip-type">Round-trip</span>
				</div>
				</a>
			</div>
	
						<div class="card">
				<a href="">
				<span class="normal-price">$269</span>
				<span class="promo-price">$200</span>

				<h2>New Orleans to Cancun, Mexico</h2>
				<div class="dates">
					<div>
						<span class="date-type">Arrive</span>
						<span class="date">17, Mar 2018</span>
					</div>
					<div>
						<span class="date-type">Return</span>
						<span class="date">25, Mar 2018</span>
					</div>
				</div>
				<div class="depart-letters">
					<span class="depart-from">NYC</span>	
						<img src="assets/img/flight-icon.svg" class="flight-icon">
					<span class="depart-to">JFK</span>
					<span class="trip-type">Round-trip</span>
				</div>
				</a>
			</div>
	
						<div class="card">
				<a href="">
				<span class="normal-price">$269</span>
				<span class="promo-price">$200</span>

				<h2>New Orleans to Cancun, Mexico</h2>
				<div class="dates">
					<div>
						<span class="date-type">Arrive</span>
						<span class="date">17, Mar 2018</span>
					</div>
					<div>
						<span class="date-type">Return</span>
						<span class="date">25, Mar 2018</span>
					</div>
				</div>
				<div class="depart-letters">
					<span class="depart-from">NYC</span>	
						<img src="assets/img/flight-icon.svg" class="flight-icon">
					<span class="depart-to">JFK</span>
					<span class="trip-type">Round-trip</span>
				</div>
				</a>
			</div>
	
						<div class="card">
				<a href="">
				<span class="normal-price">$269</span>
				<span class="promo-price">$200</span>

				<h2>New Orleans to Cancun, Mexico</h2>
				<div class="dates">
					<div>
						<span class="date-type">Arrive</span>
						<span class="date">17, Mar 2018</span>
					</div>
					<div>
						<span class="date-type">Return</span>
						<span class="date">25, Mar 2018</span>
					</div>
				</div>
				<div class="depart-letters">
					<span class="depart-from">NYC</span>	
						<img src="assets/img/flight-icon.svg" class="flight-icon">
					<span class="depart-to">JFK</span>
					<span class="trip-type">Round-trip</span>
				</div>
				</a>
			</div>
	
		</div>
	</div>


</body>
</html>