<!DOCTYPE html>
<html>
<head>
	  	<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>FlyingMode - Get Free Cheap Flights</title>
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>
<body>
	<div class="navigation">
		<div class="container">
			<div class="logo"><a href="index.html"><img src="assets/img/go.png"></a></div>

		<div class="pull-right">
			<ul class="menu">
				<li><a href="">Notifications</a></li>
				<li><a href="">About</a></li>
			</ul>
		</div>
		</div>
	</div>



	<div class="container" id="single">
		<div id="content-container">
			<div class="content">
				<h1>New Orleans to Cancun, Mexico round trip for $250</h1>
				<hr>
				<ul class="airports">
					<li>
						<span class="lable">Depart</span>
						<span class="text">Atlanta, USA</span>
					</li>
					<li>
						<span class="lable">Arrive</span>
						<span class="text">Ponce, Puerto Rico</span>
					</li>
					<li>
						<span class="lable">Return</span>
						<span class="text">Atlanta, USA</span>
					</li>
				</ul>
				<hr>
				<span class="date-lable">Dates</span>

				<span class="dates">17, Mar 2018</span>
				<span>-</span>
				<span class="dates">17, Apr 2018</span>
				<hr>
				<ul class="airports">
					<li>
						<span class="lable">Airline</span>
						<span class="text">Atlanta, gulf air</span>
					</li>
					<li>
						<span class="lable">stops</span>
						<span class="text">Ponce, Puerto Rico</span>
					</li>
	
				</ul>

				<a href="#" class="btn">Book Now</a>
			</div>

			<div class="social-buttons">
				<h4>Share This Deal</h4>
				<br>
				<a href="#" class="btn-social btn-t">Twitter</a>
				<a href="#" class="btn-social btn-f">Facebook</a>
				<a href="#" class="btn-social btn-g">Google+</a>
			</div>

			<div class="notice">
				<p>Please note, all the information on this page is accurate at the time of publication.
If you are viewing this deal at a later date, the price and availability may no longer be as advertised.</p>
			</div>
		</div>

		<div id="sidebar">
		<div class="card">
				<a href="">
				<span class="normal-price">$269</span>
				<span class="promo-price">$200</span>

				<h2>New Orleans to Cancun, Mexico</h2>
				<div class="dates">
					<div>
						<span class="date-type">Arrive</span>
						<span class="date">17, Mar 2018</span>
					</div>
					<div>
						<span class="date-type">Return</span>
						<span class="date">25, Mar 2018</span>
					</div>
				</div>
				<div class="depart-letters">
					<span class="depart-from">NYC</span>	
						<img src="assets/img/flight-icon.svg" class="flight-icon">
					<span class="depart-to">JFK</span>
					<span class="trip-type">Round-trip</span>
				</div>
				</a>
			</div>			<div class="card">
				<a href="">
				<span class="normal-price">$269</span>
				<span class="promo-price">$200</span>

				<h2>New Orleans to Cancun, Mexico</h2>
				<div class="dates">
					<div>
						<span class="date-type">Arrive</span>
						<span class="date">17, Mar 2018</span>
					</div>
					<div>
						<span class="date-type">Return</span>
						<span class="date">25, Mar 2018</span>
					</div>
				</div>
				<div class="depart-letters">
					<span class="depart-from">NYC</span>	
						<img src="assets/img/flight-icon.svg" class="flight-icon">
					<span class="depart-to">JFK</span>
					<span class="trip-type">Round-trip</span>
				</div>
				</a>
			</div>
		</div>
	</div>

<footer class="navigation">

	<div class="container"><p>GoFlyTo.com © 2018 </p></div>

</footer>

</body>
</html>