/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* Font */
@font-face {
    font-family: 'avenir';
    src: url('fonts/avenir/avenirltstd-book-webfont.eot');
    src: url('fonts/avenir/avenirltstd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/avenir/avenirltstd-book-webfont.woff') format('woff'),
         url('fonts/avenir/avenirltstd-book-webfont.ttf') format('truetype'),
         url('fonts/avenir/avenirltstd-book-webfont.svg#avenir_lt_std45_book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir';
    src: url('fonts/avenir/avenirltstd-heavy-webfont.eot');
    src: url('fonts/avenir/avenirltstd-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/avenir/avenirltstd-heavy-webfont.woff') format('woff'),
         url('fonts/avenir/avenirltstd-heavy-webfont.ttf') format('truetype'),
         url('fonts/avenir/avenirltstd-heavy-webfont.svg#avenir_lt_std45_book') format('svg');
    font-weight: bold;
    font-style: normal;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
div {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}


/*Reset ends*/



body {
	font-family: avenir ,Montserrat, arial, sans-serif;
	padding: 0;
	 -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f4f4f4;
}

.pull-right {
	float: right;
	display: inline-block;
}

.navigation {
	height: auto;
	padding: 5px 0px;
	background-color: #fff;
	/*border-bottom: 0.5px solid #EAEDF0;*/
}

.logo {
	display: inline-block;
}

.logo img {
	max-width: 110px;
}

.container {
	max-width: 910px;
	margin: 0 auto;
	height: auto;
	margin: 0 auto
}

.menu {
	padding-top: 30px;
}

.menu li{
	display: inline-block;
	padding-left: 30px;
	padding-right: 6px;
}

.menu li a{
	font-size: 18px;
	font-weight: 400;
	color: #323232;
	text-decoration: none;
}

.menu li a:hover {
	cursor: not-allowed;
}

.hero {
	margin: 0 auto;
	margin-top: 75px;
	max-width: 740px;
	height: auto;
	text-align: center;
}

.hero h1{
	 font-size: 45px;
	 font-weight: 600;
	 line-height: 55px;
	 text-transform: capitalize;
}

.lead {
	font-size: 24px;
	margin-top: 15px;
	color: #3C3C3C;
}

.nav-btn {
	display: inline-block;
	margin-top: 65px;
}

.nav-btn p {
	color: #B4B4B4;
}


#grid {
	margin: 0 auto;
	text-align: center;
	margin-top: 60px;
	position: relative;
}

.card {
	width: 270px;
	height: 265px;
	margin: 25px 15px;
	background-color: #fff;
	/*box-shadow: 0 2px 19px 0 rgba(225,225,225,0.50);*/
	position: relative;
	display: inline-block;
	vertical-align: top;
	transition: 0.5s;
}

.card:hover {
	box-shadow: 0 15px 30px 0px rgba(123,123,123,0.10);
	transition: 0.5s;
}

.normal-price  {
	text-decoration: line-through;
	font-size: 20px;
	padding: 6px 20px;
	display: inline-block;
	background-color: #FEE8EB;
	color: #FC7385;
	position: absolute;
	top: -15px;
	left: 37px;
	font-weight: 400;
	border-radius: 4px;
}

.promo-price {
		border-radius: 4px;

	background-color: #EBF3FF;
	color: #4285F4;
	right: 37px;
	font-size: 20px;
	font-weight: 400;
	padding: 6px 20px;
	position: absolute;
	top: -15px;
	left: right;

}


.card h2 {
	font-size: 22px;
	font-weight: 600;
	padding: 35px 15px 10px;
	line-height: 28px;
	color: #080808;
}

hr {
	border-top: 0.1px solid #EAEDF0 !important;
}

.vr {
	display: inline-block;
	height: 50px;
	width: 0;
}

.dates {
	margin-top: 10px;
	border-top: 0.5px solid #EAEDF0;
	border-bottom: 0.5px solid #EAEDF0;
}

.dates div {
	width: 130px;
	padding: 10px 0 15px 15px;
	margin: 0;
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

.dates div:first-child {
	border-right: 1px solid #EAEDF0;
}


.date-type {
	font-size: 12px;
	display: block;
	color: #9EAAB6;
}

.date {
	display: block;
	font-size: 16px;
	margin-top: 10px;
	color: #363542;
	padding-left: 5px;
}

.depart-letters {
	padding: 22px 15px;
}

.flight-icon {
	vertical-align: top;
	padding: 0 15px;
	display: inline-block;
}

.depart-from , .depart-to {
	font-size: 22px;
	font-weight: 800;
	color: #B4B4B4;
	text-transform: uppercase;
}

.trip-type {
	display: block;
	margin-top: 10px;
	font-size: 12px;
	text-transform: uppercase;
	color: #B4B4B4;
	font-weight: 500;
}

/*Single page*/

#single {
	margin-top: 30px;
	padding: 0px;
}

#content-container {
	width: 600px;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.content{
	width: 100%;
	min-height: 380px;
	text-align: center;
	position: relative;
	background-color: #fff;
}

.content h1{
	font-size: 30px;
	text-align: center;
	padding: 16px 60px 8px;
	line-height: 40px;
	font-weight: bold;
	color: #363542;
	text-transform: capitalize;
}

.airports li {
	display: inline-block;
	width: 190px;
	height: auto;
	padding: 10px 5px;
	margin: -2px;
	text-align: center;
	vertical-align: top;
	text-transform: capitalize;
}

.content .lable ,.date-lable{
	font-size: 12px;
	color: #9EAAB6;
	text-transform: capitalize;
}

.date-lable {
	display: block;
	padding: 10px;
	padding-bottom: 12px;
}


.content .dates {
	border: none;
	display: inline-block;
	font-size: 18px;
	margin: 0 10px;
	margin-bottom: 10px;
}

.content .text {
	font-size: 18px;
	display: block;
	margin-top: 8px;
}


#sidebar {
	text-align: center;
	max-width: 300px;
	display: inline-block;
	padding-left: 30px;
}

#sidebar .card {
	margin: 0;
	margin-bottom: 40px;
}

.btn {
	background-color: #4285F4;
	color: #fff;
	padding: 15px 25px;
	border-radius: 50px;
	font-weight: bold;
	font-size: 18px;
	position: absolute;
	bottom: -23px;
	left: 230px;
	transition: 0.3s;
}

.btn:hover{
	box-shadow: 0 15px 30px 0px rgba(123,123,123,0.10);
	bottom: -20px;
	transition: 0.2s;
}

.social-buttons {
	text-align: center;
	margin-top: 60px;
	color: #B6B6B6;
}

.btn-social {
	background-color: #DEDEDE;
	padding: 10px 20px;
	color: #969696;
	display: inline-block;
	border-radius: 50px;
	margin: 0 3px;
	font-size: 14px;
}

.btn-social:hover {
	color: #fff;
}

.btn-t:hover{
	background-color: #0CBCFF;
}

.btn-f:hover{
	background-color: #336FA9;	
}

.btn-g:hover{
	background-color: #EA6322;
}


.notice {
	background-color: #F9E3E6;
	padding: 20px 30px;
	margin: 30px auto;
	opacity: 0.5;
}

.notice p {
	line-height: 23px;
	color: #FF001F;
	opacity: 1;
}

#pagination {
	width: 100%;
	padding: 30px;
	text-align: center;
}

#pagination  .btn-pag {
	display: inline-block;
	position: static;
	margin: 0 5px;
	font-size: 15px;
}

footer.navigation {
	margin-top: 30px;
	background-color: #fff;
	padding: 30px;
	text-align: center;
	color: #555;
	position: relative;
	bottom: 0px;
}

@media(max-width: 919px) {
	.container , #sidebar {
		max-width: 100%;
		text-align: center;
		margin: 10px auto;
		padding-left: 0;
	}

	.navigation .container {
		max-width: 610px;
	}


	#sidebar .card {
		margin: 15px;
	}

	#content-container {
		margin: 10px auto;
	}

	.content {
		display: block;
		margin: 10px auto;
	}

	.navigation .container{
		text-align: left;
	}
}

@media(max-width: 768px) {
	.hero {
		padding: 0 50px;
	}

	.hero h1 {
		font-size: 40px;
		line-height: 50px;
	}
	#single {
		margin-top: 5px;
	}
}

@media(max-width: 610px){
	#content-container {
		max-width: 100%;
	}

	.content {
		height: auto;
		padding-bottom: 30px;
	}

	.btn {
		display: block;
		max-width: 200px;
		margin:  auto;
		margin-top: 20px;
		position: static;
	}
	.social-buttons {
		margin-top: 30px;
	}


	.navigation .container{
		text-align: center;
	}
	.menu{
		display: none;
	}

}

@media(max-width: 375px) {
	.hero {
		padding: 0 20px;
		margin-top: 40px;
	}

	.hero h1 {
		font-size: 35px;
		line-height: 45px;
	}

	.nav-btn {
		margin-top: 30px;
	}
}









/* Dropdown Button */
.dropbtn {
    background-color: #fff;
    color: #080809;
    padding: 16px;
    font-size: 18px;
    font-weight: 800;
    /*box-shadow: 0 2px 19px 0 rgba(225,225,225,0.50);*/
    border: none;
    margin: 20px 10px 0;
    cursor: pointer;
    min-width: 150px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    padding: 20px 15px;
    top:38px;
    left: -70px;
    background-color: #fff;
    width: 320px;
    box-shadow: 0 2px 19px 0 rgba(225,225,225,0.50);
    z-index: 1;
    text-align: left;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #080808;
    padding: 12px 16px;
    border: 1px solid #ddd;
    border-radius: 50px;
    margin: 3px 0px;
    text-decoration: none;
    display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #fff;
}



